extends layout2

block content
  h2 Dashboard
  br
  br
  table.table,table-striped
    tr
      th ID
      th Project Name 
      th Service
      th
      th 
  script (src = '/javascripts/jquery.js')
  script (src ='/javascripts/dashboard.js')
